[Unit]
Description=Take picture and turn off
After=time-sync.target rtc-i2c.service
Wants=rtc-i2c.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python /opt/sticky_pi/take_picture.py
RemainAfterExit=false

[Install]
WantedBy=basic.target
